# Variables de entorno
.env

# Archivos del sistema operativo y editores (IDE)
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs generales
*.log

# Docker
.dockerignore

# Terraform: Directorios, estados locales y bloqueos
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Terraform: Archivo de variables reales (Secretos)
terraform.tfvars